<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Modificación de  {{object}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- <app-user-form *ngIf="(object == 'cliente' || object == 'usuario' )" [isClient]="object == 'cliente'"></app-user-form> -->
  
    <app-modify-table *ngIf="object == 'mesa'"></app-modify-table>
  
    <!-- <app-product-form *ngIf="object == 'producto'"></app-product-form> -->
  </ion-content>