<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <app-client></app-client> -->
<ion-item>
  <ion-label floating>Nombre </ion-label>
  <ion-input type="text" required [(ngModel)]="nombre" name="nombre"></ion-input>
</ion-item>
<ion-item >
  <ion-label floating>Apellido </ion-label>
  <ion-input type="text" required [(ngModel)]="apellido" name="apellido"></ion-input>
</ion-item>
<ion-item >
  <ion-label floating>DNI </ion-label>
  <ion-input type="number" minlength="8" maxlength="8" required [(ngModel)]="dni" name="dni"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Correo Electrónico </ion-label>
  <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Clave </ion-label>
  <ion-input type="password" minlength="6" required [(ngModel)]="clave" name="clave"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Repetir Clave </ion-label>
  <ion-input type="password" minlength="6" required [(ngModel)]="clave2" name="clave2"></ion-input>
</ion-item>
<br>
<ion-button color="medium" (click)="abrirCamara()">Sacar Foto</ion-button>
<ion-button color="medium" (click)="escanear()">Escanear DNI</ion-button>
<ion-button color="medium" (click)="alta()">Registrar</ion-button>
<ion-button color="medium" (click)="volver()">Cancelar</ion-button>
