<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de {{object}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-client-form *ngIf="object == 'cliente'"></app-client-form>

  <app-employee-form *ngIf="object == 'usuario'"></app-employee-form>

  <app-table-form *ngIf="object == 'mesa'"></app-table-form>

  <app-product-form *ngIf="object == 'producto'"></app-product-form>
</ion-content>