<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listado/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Hamburguesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <img src="./madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
      Territory in 1836.
    </ion-card-content>
  </ion-card> -->
  <ion-list>
    <ion-item>
      <ion-card-content>
        Tiene quesito y barbacoa, con las más finas hierbas, probadas y desgustadas por especialistas en la cocina, probala en sus dos sabores, hamburguesa real o de lenteja, te va a encantar!
      </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>