<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="primary">
        <ion-button  routerLink="/configuracion">
          <ion-icon size="large" name="settings"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon size="large" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-background">
  <div class="home-background">
    <img class="brand-icon" src="assets/images/brand.png" alt="">

    <section class="ion-text-center ion-margin-bottom" *ngIf="currentUser?.profile == 'dueño'">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card (click)="showAlert()" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="star"></ion-icon>
              <h2>Hola</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card routerLink="/listado" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="list"></ion-icon>
              <h2>Listado</h2>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-card (click)="showAlert()" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="star"></ion-icon>
              <h2>Hola</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card routerLink="/listado" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="list"></ion-icon>
              <h2>Listado</h2>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-card (click)="showAlert()" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="star"></ion-icon>
              <h2>Hola</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card routerLink="/listado" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="list"></ion-icon>
              <h2>Listado</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="ion-text-center ion-margin-bottom" *ngIf="currentUser?.profile == 'cliente'">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card (click)="addToWaitList()"
              *ngIf="(currentUser?.status == undefined || currentUser?.status == 'sinAtender')"
              class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2 class="long-name">Lista de Espera</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card (click)="removeFromWaitList()" *ngIf="currentUser?.status == 'enEspera'"
              class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2 class="long-name">Abandonar Lista de Espera</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2 class="long-name">Encuestas</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="ion-text-center ion-margin-bottom" *ngIf="currentUser?.profile == 'mozo'">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card routerLink="/lista-de-espera" class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2 class="long-name">Lista de Espera</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card routerLink="/lista-de-espera" class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2 class="long-name">Lista de Espera</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

  </div>
</ion-content>