<!-- <ion-button color="medium" (click)="scan()">Escanear QR</ion-button> -->
<form class="form"> 
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item class="group">
      <ion-label for="pass" class="label" position="floating">Cantidad de Comensales</ion-label>
      <ion-input type="number" class="input" [(ngModel)]="dinerQuantityModel" name="dinerQuantity" required></ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="pass" class="label" position="floating">Tipo</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="typeModel" name="type" required></ion-input>
    </ion-item>
    <ion-thumbnail item-start >
            <img src={{photoModel}}>
    </ion-thumbnail>
  </ion-list>
  <ion-button color="medium" (click)="takePhoto()">Sacar Foto</ion-button>
  <ion-button color="medium" (click)="modify()">Actualizar</ion-button>
</form>